@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'acumin_pro_wideextralight';
  src: url('./fonts/acumin-pro-wide-extralight.woff-webfont.woff2') format('woff2'),
       url('./fonts/acumin-pro-wide-extralight.woff-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.star {
  transform: scale(0.5);
  opacity: 0.7;
}

.skew-btn {
  color: #000;
  font-weight: 700;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 18px 33px;
  display: inline-block;
  transform: skew(-21deg);
  transition: background-color 0.2s, color 0.2s;
}

.skew-btn:hover {
  color: #fff;
  background-color: #000;
}

.skew-btn > span {
  display: inline-block;
  transform: skew(21deg);
}

.skew-btn-purple {
	color: #fff;
	font-weight: 700;
	background: transparent linear-gradient(171deg, #683D8C 0%, #341F46 100%);
	text-align: center;
	text-decoration: none;
	padding: 18px 33px;
	display: inline-block;
	transform: skew(-21deg);
	position: relative;
	transition: background-color 0.2s, color 0.2s;
	background-clip: padding-box; /* !importanté */
	border: solid 1px transparent; /* !importanté */
    box-sizing: border-box;

  }

  .skew-btn-purple::before {
	content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: 1px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: #000;
	transition: 0.3s;
  }

  .skew-btn-purple:hover::before {
	background: transparent linear-gradient(171deg, #683D8C 0%, #341F46 100%);
  }
  
  .skew-btn-purple:hover {
	color: #fff;
	background-color: #000;
  }
  
  .skew-btn-purple > span {
	display: inline-block;
	transform: skew(21deg);
  }
  



@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: url('../../assets/images/night-sky-bg.jpg') repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.gray-gradient {
	position: relative;
	min-height: 200px;
	z-index: 1;
  }
  
  .gray-gradient::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(353deg, #070707 0%, #191919 100%);;
	z-index: -1;
	transition: opacity 0.3s ease-out;
	opacity: 0;
  }
  .gray-gradient:hover::before {
	opacity: 1;
  }


  .accordion-panel {
	max-width: 77px;
	display: flex;
	align-items: center;
	height: 80vh;
	color: #fff;
	cursor: pointer;
	flex: 0.5;
	margin: var(--gutter-small);
	position: relative;
	transition: all 700ms ease-in;
	overflow: hidden;
  }

  .accordion-title {
	transform: rotate(180deg);
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
	width: 77px;
    height: 100%;
    text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
	border-left: 1px solid #707070;
	border-right: 1px solid #707070;
	font-size: 46px;
  }
  
  .accordion-panel:last-of-type h2 {
    border-right: 0;
}


  .accordion-panel.active {
	flex: 5;
	max-width: 100%;
  }

  .accordion-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	border-bottom: 1px solid #707070;
	border-top: 1px solid #707070;
	border-right: 1px solid #707070;
  }
