@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'acumin_pro_wideextralight';
  src: url('./fonts/acumin-pro-wide-extralight.woff-webfont.woff2') format('woff2'),
       url('./fonts/acumin-pro-wide-extralight.woff-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.star {
  transform: scale(0.5);
  opacity: 0.7;
}

.skew-btn {
  color: #000;
  font-weight: 700;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 18px 33px;
  display: inline-block;
  transform: skew(-21deg);
  transition: background-color 0.2s, color 0.2s;
}

.skew-btn:hover {
  color: #fff;
  background-color: #000;
}

.skew-btn > span {
  display: inline-block;
  transform: skew(21deg);
}