@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'acumin_pro_wideextralight';
  src: url('./fonts/acumin-pro-wide-extralight.woff-webfont.woff2') format('woff2'),
       url('./fonts/acumin-pro-wide-extralight.woff-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.star {
  transform: scale(0.5);
  opacity: 0.7;
}

.skew-btn {
  color: #000;
  font-weight: 700;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 18px 33px;
  display: inline-block;
  transform: skew(-21deg);
  transition: background-color 0.2s, color 0.2s;
}

.skew-btn:hover {
  color: #fff;
  background-color: #000;
}

.skew-btn > span {
  display: inline-block;
  transform: skew(21deg);
}



@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}